/* Dark Mode Styling */
.dark-mode {
    background-color: #1a2a2a;
    // text color
    color: #ffffff;
}

/* Dark Mode for Container */
.dark-mode .container {
    background-color: #2a2a2a;
    box-shadow: none;
}

/* Dark Mode for Tables */
.dark-mode table {
    width: 100%;
    border-collapse: collapse;
    background-color: #2a2a2a;
    text-color: #ffffff;
    color: #ffffff;
}

.dark-mode table th,
.dark-mode table td {
    border: 1px solid #444;
    padding: 10px;
    text-align: left;
}

.dark-mode table th {
    background-color: #a2a2a;
    color: #ffffff;
}

.dark-mode table tr:nth-child(even) {
    background-color: #3a2a2a;
}